<h1>Thank You For Shopping With UNO Premium</h1>
<div class="box-cont">
    <p>You have successfully placed an order. You should have received an email with further details. If you did not receive this email, or if you need to change something, please call us at 325-3686. Otherwise, you can continue shopping!</p>
    <p>Once again thank you for shopping with UNO Premium! Big Thanks from Miles, Yash, Eddie, Vincent, and Matt!</p>
    <p>Have a Great Winter Break UD!</p>
    <img src="../assets/img/symbol.png">
    <br>
    <hr>
    <em>-UNO Premium Development Team, Team 1 or Uno Sytems</em>
</div>

