<h2>Edit Categories:</h2>
<ul #list class="list-container">
    <h2>Remove Current Categories:</h2>
    <li *ngFor="let cat of catArr">
        <p>Category: {{cat.name}}</p>
        <div class="item-editor">
            <button id={{cat.name}}.rem>Remove Category!</button>
        </div>
    </li>
    <h2>Create a New Category:</h2>
    <li>
        <label class="container">New Category Title:
            <input type="text" id="newCat">
        </label>
        <div class="item-editor">
            
            <button (click)="add()">Add Category to List!</button>
        </div>
    </li>
    
</ul>