.list-container{
    display: grid;
    background-color: rgba(220, 220, 235, 1);
    grid-template-columns: auto;
    padding: 5px;
    grid-column-gap: 150px;
    grid-row-gap: 20px;
}
li{
    background-color: rgb(155, 155, 155);
    border: solid;
    border-color: black;
    padding: 20px;
    width: fit-content;
}

.item-editor{
    background-color: rgb(121, 121, 121);
    padding: 10px;
}

.collapsible{
    background-color: rgb(102, 101, 101);
    padding: 10px;
    cursor: pointer;
    text-align: center;
}
.collapsible:hover{
    background-color: rgb(145, 145, 145);
}
.content{
    padding: 5px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}