<h3>All Items:</h3>
<ul #list class="list-container">
    <li *ngFor="let prod of prodArr">
        <h1>{{prod.name}}</h1>
        <div class="item-editor container">
            <h3>ID: {{prod._id}}</h3>
            <div>
                <label for="pname">Edit Product Name:</label>
            </div>
            <div>
                <input type="text" id="pname.{{prod.name}}" name="pname" value={{prod.name}} size="100"> <br> <br>
            </div>

            <div>
                <label for="pname">Edit Description:</label>
            </div>
            <div>
                <textarea put type="text" id="pname.{{prod.description}}" name="pname" value={{prod.description}} size="100" rows="12" cols="110"></textarea> <br> <br>
            </div>
            <button type="button" class="collapsible btn btn-primary" (click)=toggleCollapse()>Edit Categories</button>
            <div class="content">
                <p>{{prod.name}} categories:</p>
                <ul #list class="list-container">
                    <li *ngFor="let cat of prod.categories">
                        <label class="container">{{cat}}
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <br><br>
            <button type="button" class="collapsible btn btn-primary" (click)=toggleCollapse()>Look Variants</button>
            <div class="content">
                <p>{{prod.name}} variants:</p>
                <ul #list class="list-container">
                    <li *ngFor="let variant of prod.variantIds">
                        <p>Variant: NAME HERE</p>
                        <label class="container">Change Variant Name
                            <input size="80" value={{variant.name}}>
                        </label>
                        <label class="container">Change Variant Price
                            <input min="0" value={{variant.price}}>
                        </label>
                        <label class="container">Change Variant Quantity
                            <input min="0" value={{variant.quantity}}>
                        </label>
                    
                        <hr>
                        <p>Image Upload:</p>
                        <input type="file" (change)="onFileSelected($event)" multiple>
                        <div class="img-button">Change Image</div>
                        <button>Confirm Submission</button>
                        <hr>
                        <button>Remove Variant</button>
                        <button>Update Variant</button>
                    </li>
                    <p>Create New Variant:</p>
                    <li>
                        <label class="container">New Variant's Name
                            <input type="text" size="80">
                        </label>
                        <label class="container">Create Variant Price
                            <input type="number" min="0">
                        </label>
                        <label class="container">Create Variant Quantity
                            <input type="number" min="0">
                        </label>
                        <hr>
                        <p>Image Upload:</p>
                        <input type="file" (change)="onFileSelected($event)" multiple>
                        <div class="img-button">Choose Image</div>
                        <button>Confirm Submission</button>
                        <hr>
                        <button>Add Variant</button>
                    </li>
                </ul>
            </div>
            <br><br>
            <button class="btn btn-danger">Remove Product!</button> <br><br>            
            <button class="btn btn-success">Update Product</button>
        </div>
    </li>
    <h2>Create a New Product</h2>
    <li>
        <div class="item-editor">
            <label for="pname">Add Product Name:</label>
            <input type="text" name="pname" size="100"> <br> <br>
            <button type="button" class="collapsible" (click)=toggleCollapse()>Edit Categories</button>
            <div class="content">
                <p>Categories:</p>
                <ul #list class="list-container">
                    <li>
                        <label class="container">Cat2
                            <input type="checkbox" checked="checked">
                            <span class="checkmark"></span>
                        </label>
                    </li>
                </ul>
            </div>
            <br><br>
            <button type="button" class="collapsible" (click)=toggleCollapse()>Look Variants</button>
            <div class="content">
                <ul #list class="list-container">
                    <p>Create New Variant:</p>
                    <li>
                        <label class="container">New Variant's Name
                            <input type="text" size="80">
                        </label>
                        <label class="container">Create Variant Price
                            <input type="number" min="0">
                        </label>
                        <label class="container">Create Variant Quantity
                            <input type="number" min="0">
                        </label>
                        <hr>
                        <p>Image Upload:</p>
                        <input type="file" (change)="onFileSelected($event)" multiple>
                        <div class="img-button">Choose Image</div>
                        <button>Confirm Submission</button>
                        <hr>
                        <button>Add Variant!</button>
                    </li>
                </ul>
            </div>
            <br><br>
            <button class="btn btn-success">Add Product</button>
        </div>
    </li>
</ul>