  <section>
  <img src="../assets/img/unoadmin.png" width="200px">
  <h2>Welcome! Please login</h2>
  <div class="login-page">

    <div class="container">
    
      <div class="row">
        <div class="col-2"></div>
        <div class="col-2">
          <div class="form-container">
            <div class="form-btn" style="border-color: red;">
              <span>Login</span>
            </div>

            <form id="LoginForm">

              <label> Email:</label>
              <input id="emailId" type="text" placeholder="Email" required>

              <label>Password:</label>
              <input id="pswId" type="password" placeholder="Passoword" required autocomplete="false">
              <button id="loginBtn" class="btn btn-default" (click)="userlogin()" type="button">Login</button>
              <div>
                <h5 id="loginStatId" style="color:red; font-size: 1.2em;">{{status}}</h5>
              </div>
            </form>
          </div>
          
        </div>
        <div class="col-2"></div>
        
      </div>
    </div>
    
  </div>
      
</section>
    
  




