<section>
    <h2>Please login</h2>

    <div class="container">
      
      <div class="card form-container">
          <!-- <img class="profile-img-card" src="//lh3.googleusercontent.com/-6V8xOA6M7BA/AAAAAAAAAAI/AAAAAAAAAAA/rzlHcD0KYwo/photo.jpg?sz=120" alt="" /> -->
          <img id="profile-img" class="profile-img-card" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" />
          <p></p>
          <form class="form-signin">
              <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
              <input type="password" id="inputPass" class="form-control" placeholder="Password" required autofocus>
              <div id="remember" class="checkbox">
                  <label>
                      <input type="checkbox" value="remember-me"> Remember me
                  </label>
              </div>
              <button class="btn btn-lg btn-primary btn-block btn-signin" id="loginBtn" type="button" (click)="userlogin()">Sign in</button>
          </form><!-- /form -->
      </div><!-- /card-container -->
    </div>
      
</section>


    
  




