:host {
  background:  rgba(27, 230, 128, 0.623);
  display: none;
  color: rgb(12, 12, 12);
  position: fixed;
  left: 0;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 20%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.list-container{
  display: grid;
  background-color:rgba(27, 230, 128, 0.623);
  grid-template-columns: auto;
  padding: 1px;
  grid-column-gap: 150px;
  grid-row-gap: 3px;
  list-style-type: none;
  text-align: center;
}

.category {
  background: rgba(27, 230, 128, 0.623);
  padding: 8px;
  color: black;
  text-align: center;
}

.category:hover{
  background: rgba(20, 165, 93, 0.623);
  cursor: pointer;
}

.title{
  padding: 8px;
  text-align: center;
}
h6{
  font-weight: bold;
  font-style: oblique;
  color: black;
  font-size: 20px;
}
hr{
  border: none;
  height: 1px;
  width: 100%;
  color: #333;
  background-color: #333;
}
a{
  color: black;
}

img{
  border-radius: 20px;
}
