<div class="button-container">
  <h1> Total: ${{total}}</h1>
  <button>Checkout</button>
</div>

<div class="scrollable">
  <ul #grid class="grid-container">
    <li *ngFor="let item of itemArr">
      <a routerLink={{item.link}}>
        <div class="grid-item">
          <h3>{{item.name}}</h3>
          <p>${{item.price}}</p>
          <hr>
          <img class="images" src={{item.img}} alt="Product Image" width="150" height="150">
        </div>
      </a>
    </li>
  </ul>
  <div class="space"></div>
</div>
