<div #cart class="scrollable">
  <div class="button-container">
    <h2> Total: ${{cartManager.getTotal()}}</h2>
    <a routerLink="/payment"><button (click)="toggleCart(); toggleToolbar();">Checkout</button></a>
  </div>
  <div class="space"></div>
  <ul #grid class="grid-container">
    <li *ngFor="let item of itemArr">
      <button class='remove'> X</button>
      <div class="grid-item">
        <a routerLink={{item.link}}>
          <h3>{{item.name}} </h3>
          <p>${{item.price}}</p>
          <hr>
          <img class="images" src={{item.img}} alt="Product Image" width="150" height="150">
        </a>
      </div>
    </li>
  </ul>
  <div class="space"></div>
</div>
