<div #cart class="scrollable">
  <hr>
  <div class="button-container">
    <hr>
    <h3>Your Cart has {{cartManager.getAmt()}} item(s)</h3>
    <h2> Subtotal: ${{cartManager.getTotal()}}</h2>
    <hr>
    <a routerLink="/payment"><button class="checkoutButton" (click)="toggleCart()">Checkout</button></a>
    <button class="clearButton" (click)="clearCart()">Clear Cart</button>
  </div>
  <hr>
  <div class="space"></div>
  <ul #grid class="grid-container">
    <li *ngFor="let item of cartManager.getItems() ; index as i">
      <button class='remove' (click)='cartManager.removeItem(i)'> X</button>
      <div class="grid-item">
        <a routerLink={{item.link}}>
          <h3>{{item.name}} </h3>
          <p>${{item.price}}</p>
          <hr>
          <img class="images" src={{item.img}} alt="Product Image" width="150" height="150">
        </a>
      </div>
    </li>
  </ul>
  <div class="space"></div>
</div>
