.grid-container {
  display: grid;
  grid-template-columns:auto;
  padding: 0px;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-item {
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  text-align: center;
}

.button-container {
  text-align: center;
  position: fixed;
  background: #AA0A0A;
  width: 13%;
}
button{
  size: 100;
  padding: 15px 32px;
  background-color: #AA0A0A;
  color: white;
  font-size: 16px;
  margin: 4px 2px;
}

h3{
  color: white;
}

h2{
  color: white;
  text-align: center;
}



p{
  color: #DDD;
  margin-bottom: 0;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
}
.scrollable {
  height: 100%;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.space{
  height:100px
}
:host {
  background: #801A1A;
  display: none;
  color: #000;
  position: fixed;
  left: 100;
  top: 60px;
  right: 0;
  bottom: 0;
  width: 10%;
  min-width: 250px;
  z-index: 9999;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}
