<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- Toolbar/Header -->
<div class="toolbar" role="banner">
  <button (click)="toggleMenu()" class="hamburger">
    <span>toggleMenu</span>
  </button>
  <a routerLink = "/home"><img width="40" alt="UNO Logo" src="../assets/img/unoicon.png" title="Go To Home"/></a>
  <a routerLink = "/catalog"> <button  title="Browse Our Catalog">Catalog</button></a>
  <div class="search">
    <form action="#"> 
      <input type="text"
          placeholder=" Search Products"
          name="search"> 
  </form> 
  </div>
  <div class="spacer"></div>
  <a routerLink ="/cart"><img width="40" alt="Cart" src="../assets/img/unocart.png" title="My Cart"/></a>
  <a routerLink ="/account"><img width="40" alt="Acct" src="../assets/img/unoprofile.png" title="My Profile"/></a>

</div>
<!--End Toolbar-->

<!--Category Overlay-->
<app-menu id="menu"></app-menu>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>

<div class="foot" role="banner">
  <div class="spacer"></div>
  <h5>Created by Team One of CISC 474
    <br>
    Composed of Yash, Miles, Eddie, Vincent, and Matt
    <br>
    Happy Shopping!
  </h5>
  <div class="spacer"></div>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
