li{
    background-color: rgb(218, 218, 218);
    border: solid;
    border-color: black;
    padding: 20px;
    width: fit-content;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
    border-radius: 20px;
}
p {
    font-size: 16px;
    font-style: italic;
}
h2 {
    font-size: 20px;
    font-style: oblique;
}
.item-editor{
    background-color: rgb(121, 121, 121);
    background-image: linear-gradient(180deg,  #ddd, #ccc 40%, #bbb);
    border-radius: 20px;
    padding: 10px;
    border: solid;
}
.list-container{
    display: grid;
    background-color: rgba(220, 220, 235, 1);
    grid-template-columns: auto;
    padding: 25px;
    border-radius: 20px;
    grid-column-gap: 150px;
    grid-row-gap: 20px;
    list-style-type: none;
}
.item-editor{
    background-color: rgb(121, 121, 121);
    padding: 10px;
}

.container{
    width: fit-content;
}

button{
    border-radius: 5px;
}
button:hover{
    transform: scale(.9);
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    color: #333;
    background-color: #333;
  }