.grid-container {
    display: grid;
    background-color: rgba(220, 220, 235, 1);
    grid-template-columns: auto auto auto;
    padding: 20px;
    grid-column-gap: 150px;
    grid-row-gap: 100px;
}
.grid-item {
    background-color: rgba(230, 230, 250, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
}
