.grid-container {
    display: grid;
    background-color: rgba(220, 220, 235, 1);
    grid-template-columns: auto;
    padding: 40px;
    grid-column-gap: 150px;
    grid-row-gap: 100px;
    text-align: center;
    background-image: linear-gradient(180deg,  rgba(220, 220, 235, 1),  rgb(210, 210, 224) 40%, rgb(169, 169, 184));
    border-radius: 30px;
}
.grid-item {
    background-color: rgba(230, 230, 250, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    width: 500px;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
ul {
  list-style-type: none;
}

.add:active{
  color: rgb(23, 207, 23) ;
  transform: scale(.7);
}

.add{
  border-radius: 10px;
  background-color:  rgba(29, 204, 102, 0.425);
  padding: 5px;
}

.horizontal{
  float: left;
  clear: none;
  margin-right: 20px;
  background-color: #DCDCEB;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
}

.variant{
  margin: 20px;
}

em{
  font-size: 16px;
}

hr{
  border: none;
  height: 1px;
  width: 100%;
  color: #333;
  background-color: #333;
}

.v-button{
  background-color: rgba(230, 230, 250, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    border: 5px solid rgba(0, 0, 0, 0.8);
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.v-button:hover{
  transform: scale(1.1);
}

/* Basic Styling */
html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
}

/* Columns */
.left-column {
  width: 65%;
  position: relative;
}

.right-column {
  width: 35%;
  margin-top: 60px;
}

/*
/* Left Column
.left-column img {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
}*/

/*
.left-column img.active {
  opacity: 1;
}*/


/* Right Column */

/* Product Description */
.product-description {
  border-bottom: 1px solid #E1E8EE;
  margin-bottom: 20px;
}
.product-description span {
  font-size: 12px;
  color: #358ED7;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484D;
  letter-spacing: -2px;
}
.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939E;
  line-height: 24px;
}

/* Product Configuration */
.product-color span{
  font-size: 14px;
  font-weight: 400;
  color: #86939E;
  margin-bottom: 20px;
  display: inline-block;
}

/* Product Color */
.product-color {
  margin-bottom: 30px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.33);
}

.color-choose input[type="radio"]#red + label span {
  background-color: #C91524;
}
.color-choose input[type="radio"]#blue + label span {
  background-color: #314780;
}
.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-repeat: no-repeat;
  background-position: center;
}



.variant-choose button {
  border: 2px solid #E1E8EE;
  border-radius: 6px;
  padding: 13px 20px;
  font-size: 14px;
  color: #5E6977;
  background-color: #fff;
  cursor: pointer;
  transition: all .5s;
}

.variant-choose button:hover,
.variant-choose button:active,
.variant-choose button:focus {
  border: 2px solid #86939E;
  outline: none;
}



/* Product Price */
.product-price {
  display: flex;
  align-items: center;
}

.product-price span {
  font-size: 26px;
  font-weight: 300;
  color: #43474D;
  margin-right: 20px;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all .5s;
}
.cart-btn:hover {
  background-color: #64af3d;
}


/* Responsive */
@media (max-width: 940px) {
  .container {
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  /*
  .left-column img {
    width: 300px;
    right: 0;
    top: -65px;
    left: initial;
  }*/
}

/*
@media (max-width: 535px) {
  .left-column img {
    width: 220px;
    top: -85px;
  }
}*/
