<div>
  <div *ngFor="let v of variants ; index as i">
    <a routerLink={{v.link}}>
      <button>{{v.element.name}} ({{v.element.quantity}} in stock)</button>
    </a>
  </div>
</div>

<ul #grid class="grid-container">

  <li>
    <div class="grid-item">
      <a>
        <h3>{{name}} <button #add class='add' (click)='addToCart()'><b>+</b></button></h3>
        <p>${{price}}</p>

        <img class="images" src={{img}} alt="Product Image" width="400" height="400">
      </a>
    </div>
    <p>{{text}}</p>
  </li>
</ul>
