<ul #grid class="grid-container">
  <label for="variants">Choose a variant:</label>
<select>
  <option *ngFor="let v of variants"
    [value]="v.name"
    [attr.selected]="v.name==v.name ? true : null">
  {{v.name}} (qty:{{v.quantity}})
</option>
</select>
  <li>
    <div class="grid-item">
      <a>
        <h3>{{name}} <button #add (click)='addToCart()'>+</button></h3>
        <p>${{price}}</p>

        <img class="images" src={{img}} alt="Product Image" width="400" height="400">
      </a>
    </div>
    <p>{{text}}</p>
  </li>
</ul>
