.grid-container {
  display: grid;
  background-color: rgba(220, 220, 235, 1);
  grid-template-columns: auto auto auto;
  padding: 40px;
  grid-column-gap: 150px;
  grid-row-gap: 100px;
  border-radius: 20px;
}

.grid-item {
  background-color: rgba(230, 230, 250, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 15px;
  text-align: center;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.grid-item:hover{
  transform: scale(1.1);
}

h3{
  color: black;
}

hr{
  background-color: rgb(77, 75, 75);
  margin: 1;
}

p{
  color: rgb(77, 75, 75);
  margin-bottom: 0;
  padding-bottom: 0;
}

ul {
  list-style-type: none;
}
button{
  border-radius: 5px;
  background-color:  rgba(220, 220, 235, 1);
}

.cart {
  position: absolute;
}
