.required {
    color: red;
}

.grid-container {
    display: grid;
    background-color: rgba(29, 204, 102, 0.425);
    background-image: linear-gradient(180deg, rgba(29, 204, 102, 0.425),  rgba(25, 173, 87, 0.425) 40%, rgba(19, 129, 65, 0.425));
    grid-template-columns: auto;
    padding: 40px;
    grid-column-gap: 25px;
    /*grid-row-gap: 100px;*/
    border-radius: 20px;
    width: 100%;
    border: solid;    
}
.row {
    display: flex;
    grid-template-columns: auto auto auto;
    grid-gap: 50px;
    padding-left: 0px;
}

.shadowbox {
    width: 100%;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    padding-left: 20px;
    margin-bottom: 30px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.name-cont {
    padding: 10px;
    border: solid;
    border-radius: 10px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}

hr {
    border: none;
    height: 1px;
    width: 100%;
    color: #333;
    background-color: #333;   
}