<!--Main Image Section-->
<div class="section">
    <img src="../../assets/img/uno-transformer.png" alt="" width="100%" height="100%"/>
</div>
<!--End Main Title-->
<!--Deals Section-->
<div class="section">
    <ul #grid class="grid-container">
        <li *ngFor="let dealitem of dealArr">
          <div class="grid-deal-item">
            <a routerLink={{dealitem.link}}>
              <div class="img-cont">
                <img class="images" src={{dealitem.img}} alt="Product Image" width="100" height="100">
              </div> 
              <h3>{{dealitem.name}}</h3>
              <h4>${{dealitem.price}}</h4>         
            </a>
          </div>
        </li>
    </ul> 

    <tr *ngFor="let cat of categories">
      <td>{{cat._id}}</td>
      <td>{{cat.image}}</td>
      <td>{{cat.products}}</td>
      <td>{{cat.name}}</td>
    </tr>

    
</div>
<!--End Deals Section-->

<div class="section">
  <h1>Customer Reviews:</h1>
  <div class="review-container">
    <div class="review">
      <div class="shadowbox">
        <p><em>I loved shopping at UNO premium!</em></p>
        <hr>
        <p>-President Richard Nixon</p>
      </div>
    </div>
    <div class="review">
      <div class="shadowbox">
        <p><em>UNO Premium is an awesome service! :)</em></p>
        <hr>
        <p>-Martha, Age 106</p>
      </div>
    </div>
    <div class="review">
      <div class="shadowbox">
        <p><em>UNO Premium was an overall good site to get my stuff.</em></p>
        <hr>
        <p>-Random Man</p>
      </div>
    </div>
  </div>
</div>

<div class= "section2">
</div>