<!--Main Image Section-->
<div class="section">
    <img src="../../assets/img/uno-transformer.png" alt="" width="100%" height="100%"/>
</div>
<!--End Main Title-->
<!--Deals Section-->
<div class="section">
    <ul #grid class="grid-container">
        <li *ngFor="let dealitem of dealArr">
          <div class="grid-deal-item">
            <a routerLink={{dealitem.link}}>
              <div class="img-cont">
                <img class="images" src={{dealitem.img}} alt="Product Image" width="100" height="100">
              </div> 
              <h3>{{dealitem.name}}</h3>
              <h4>${{dealitem.price}}</h4>         
            </a>
          </div>
        </li>
    </ul> 

    <tr *ngFor="let cat of categories">
      <td>{{cat._id}}</td>
      <td>{{cat.image}}</td>
      <td>{{cat.products}}</td>
      <td>{{cat.name}}</td>
    </tr>

    
</div>
<!--End Deals Section-->

<div class="section">
  <div class="shadowbox">
    <p>Here's a very interesting note displayed in a
      lovely shadowed box.</p>
  </div>
</div>

<div class= "section2">
  <img src="../../assets/img/uno-swurly.png" alt="" width="10%" height="10%"/>
</div>