.grid-container {
    display: grid;
    background-color: rgba(29, 204, 102, 0.425);
    grid-template-columns: auto auto auto auto;
    padding: 40px;
    grid-column-gap: 25px;
    grid-row-gap: 100px;
    border-radius: 20px;
    border: solid;
    background-image: linear-gradient(180deg, rgba(29, 154, 204, 0.425), rgba(27, 135, 177, 0.425) 40%,  rgba(29, 204, 102, 0.425));
    
}
.grid-deal-item {
    background-color: rgba(230, 230, 250, 0.7);
    border: 5px solid rgba(0, 0, 0, 0.8);
    padding: 15px;
    text-align: center;
    width: 15em;
    border: 1px solid #333;
    box-shadow: 8px 8px 5px #444;
    padding: 8px 12px;
    background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.grid-deal-item:hover{
  transform: scale(1.1);
}
ul {
  list-style-type: none;
}
hr {
  border: none;
  height: 1px;
  width: 100%;
  color: #333;
  background-color: #333;
}
.shadowbox {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-image: linear-gradient(180deg, #fff, #ddd 40%, #ccc);
}
.img-cont{
  color: black;
  border-radius: 20px;
  border: solid;
  padding: 5px;
  background-color: white;
}
h3{
  color: black;
}
h4{
  color:  rgb(0, 99, 41);
}
.review-container {
  display: grid;
  position: relative;
  border: black;
  border: solid;
  padding: 20px;
  border-radius: 20px;
  grid-template-columns: auto auto auto;
  background-image: linear-gradient(180deg, rgba(29, 204, 102, 0.425), rgba(27, 177, 89, 0.425) 40%, rgb(160, 160, 160));
}
.review {
  padding: 10px;
}
.review:hover {
  transform: scale(1.1);
}
video{
  border-radius: 30px;
}