  hr {
    border: none;
    height: 2px;
    width: 100%;
    color: #333;
    background-color: #333;
  }
  button{
    text-align: center;
    padding: 18px;
    background-color: #008B8B;
    border-radius: 10px;
  }
  section{
    text-align: center;
  }