  hr {
    border: none;
    height: 2px;
    width: 100%;
    color: #333;
    background-color: #333;
  }
  button{
    text-align: center;
    padding: 18px;
    background-color: rgb(184, 0, 0);
  }
  section{
    text-align: center;
  }