<!--Welcome Section-->
<section>
    <h2>Welcome Administrator!</h2>
    <p>Administrators shall only edit these properties if there is a request from a customer<br>or from a manufacturer or material provider.</p>
</section>
<!--End Welcome-->
<hr>
<!--Product Section-->
<section>
    <h2>Edit Products:</h2>
    <p>Change Product Information, such as quantity, price, name, and variant information.<br>Product Information should only be changed in the case of external causes by admin</p>
    <button type="button" class="collapsible" (click)="goProducts()">Open Editor</button> 
</section>
<!--End PS-->
<hr>
<!--Order Section-->
<section>
    <h2>Edit Orders:</h2>
    <p>Change Order Information, such as user mistakes or cancelling an order.<br>Order Information should only be changed in the case of external causes by admin</p>
    <button type="button" class="collapsible" (click)="goOrders()">Open Editor</button>
</section>
